@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
* {
    margin: 5px;
    padding: 2px;
}

.container{
    position: relative;
    justify-content: center;
}

.cajas {
    justify-content: center;
    display: flex;
}

header {
    width: 100%;
    height: 18vh;
    background-image: url(./../imagenes/white-wood-desk-1153334.jpg);
    background-size: contain;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
}

h1 {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

header p {
    margin: 0px;
    position: absolute;
    left: calc(4vw);
    font-size: 12px;
}

#article1 {
    background-image: url(./../imagenes/calle.jpg);
    height: 40vh;
    padding: 2px;
    background-attachment: fixed;
}

div {
    border: solid white 1px;
    height: 93%;
    position: relative;
}

article div p {
    font-size: 38px;
    display: inline;
    position: absolute;
    left: calc(80%);
    top:calc(10vh);
   
    
}

#revista {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}
#spansini{
    color: rgb(136, 10, 10);

}
 #spani{
    position: absolute;
    bottom: 0px;
}

.div{
    float: left;
    width: 25%;
    height: 33vh;
    background: black;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-right: 2vw;
}
#div1{
    background: rgb(236, 180, 227);
    color: white;
    text-align: center;
    
}
#div1 span{

}
#div4{
    margin-right: 0vw;
    background-image: url(./../imagenes/hoja.jpg);
    background-size: contain;
   
    
   
    
    
}
#circulo{
    width: 8vw;
    height: 16vh;
    border-radius: 50%;
    border: solid white 4px;
    left: 6vw;
    top: 5vh;
    color: white;
    background: rgb(241, 103, 211);
    text-align: center;
    font-size: 150%;

}
#circulo  span{
font-size: 50%;
display: block;
position: absolute;
top: 50%;
left: 50%;
}
#div2{
    color: white;
    text-align: center;
    background: rgb(170, 134, 126);
}

#rojo{
    color: rgb(136, 10, 10);
}


#div2 p{
    color: white;
}

#move{
font-size: 80%;
}

#circulo2{
    width: 8vw;
    height: 16vh;
    border-radius: 50%;
    border: solid rgb(136, 10, 10) 4px;
    left: 6vw;
    top: 5vh;
    font-size: 120%;
}
#p{
    font-size: 65%;
    display: block;
    position: absolute;
    top: 40%;
    left: 10%;
}
#division{
    margin: 9vh;
    margin-top: 3vh;
    color: white;
    border: 0px;
    text-align: center;
    justify-content: left;

}
#division p{
font-size: 200%;
}
.letras{
    font-size: 60%;
}